/* .calendar-container {
    display: grid;
    background: linear-gradient(to right, #072f5f, #1261a0);
    grid-template-columns: repeat(2, 1fr);
} */

.DayPicker-Month {
    height: 60vh;
    width: 40vw;
    margin: 20px 30px;
    color: rgb(46, 27, 27);
}

.DayPicker-Day {
    border: 2px solid rgb(92, 86, 86);
}

.run-form {
    margin-top: 10px;
}

.run-form input {
    margin: auto;
    width: 30vw;
    height: 4vh;
    border-radius: 10px;
}
.run-form button {
    margin-top: 12px;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
}

.home-btns button {
    margin-top: 12px;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    background-color: #276cc0;
}

a {
    text-decoration: none;
    color: white;
}

.event-input {
    margin-top: 6rem;
}

.DayPickerInput-Overlay {
    position: absolute;
    left: 0;
    z-index: 1;

    background: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
/* 
@media (max-width: 767px) {
    .DayPicker-Month {
        width: 80vw;
    }

    .run-form input {
        width: 50vw;
    }
}

@media (min-width: 850px) {
    .DayPicker-Month {
        margin-left: 90px;
        width: 80vw;
    }

    .run-form {
        padding-bottom: auto;
        margin-left: 30px;
    }

    .run-form input {
        width: 70vw;
    }

    .run-form button {
        margin-top: 25px;
    }

    .run-form h1 {
        margin-left: auto;
    }

    .event-input {
        margin-top: 20px;
    }
}

@media (min-width: 540px) {
    .DayPicker-Month {
        margin-left: 50px;
        width: 70vw;
    }

    .run-form {
        padding-bottom: auto;
        margin-left: 30px;
    }

    .run-form input {
        width: 70vw;
    }

    .run-form button {
        margin-top: 25px;
    }

    .run-form h1 {
        margin-left: auto;
    }

    .event-input {
        margin-top: 20px;
    }
}

@media (min-width: 415px) {
    .DayPicker-Month {
        width: 70vw;
    }

    .run-form {
        margin-top: auto;
        margin-left: 30px;
    }

    .run-form input {
        width: 50vw;
    }

    .run-form button {
        margin-top: 25px;
    }

    .run-form h1 {
        margin-left: auto;
    }

    .event-input {
        margin-top: 20px;
    }
} */
